<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www/thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Sample App OAuth 2.0 Login with Spring Security 6</title>
    <meta charset="UTF-8">
</head>
<body>
<div style="float: right" th:fragment="logout" sec:authorize="isAuthenticated()">
    <div style="float: left">
        <span style="font-weight: bold">User: </span><span sec:authentication="name">NAME</span>
    </div>

    <div style="float: left">
        <span style="font-weight: bold">User Id:</span>
        <span sec:authentication="name">xxxxxxxxxx</span>
        <span style="font-weight: bold">User Name:</span>
        <span sec:authentication="principal.authorities">NAME</span>
    </div>
    <div style="float: none">&nbsp;</div>
    <di style="float: right">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </di>
</div>
<h1>Welcome Sample App</h1>
<div>
    OAuth 2.0でログインに成功
    -<span style="font-weight: bold" th:text="${authorizedClient.clientRegistration.clientName}">Demo Client</span>
</div>
<div>&nbsp;</div>
<div>
    <ul>
        <li>
            <a href="/templates/userinfo.html" th:href="@{/attributes}">属性を表示</a>
        </li>
        <li>
            <a href="/templates/userinfo.html" th:href="@{/attributes/latest}">最新の属性を表示</a>
        </li>
    </ul>
</div>
</body>
</html>